{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  {% block title %}
  <title>DawFlix</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand DAWFLIX" href="/">DAWFLIX</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'peliculas' %}">Peliculas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'actores' %}">Actores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'directores' %}">Directores</a>
        </li>        
        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search" name="q">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Buscar</button>
        </form>
        </li>
        <div class="pull-right">
        <li class="nav-item dropdown">
          {% if user.is_authenticated %}
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{ user.get_username }}
          </a>
          {% else %}
          <li class="nav-item">
            <a href="{% url 'login'%}" role="button" class="nav-link" aria-haspopup="true" aria-expanded="false">Iniciar sesión</a>
          </li>
          {% endif %}
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'logout'%}">Cerrar sesión</a>
            <a class="dropdown-item" href="#">Mi perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">About</a>
          </div>
        </li>
        </div>
      </ul>

    </div>
  </nav>
  {% block content %}{% endblock %}


  {% block pagination %}
          {% if is_paginated %}
              <div class="pagination paginador">
                  <span class="page-links">
                      {% if page_obj.has_previous %}
                          <a class="button" style="vertical-align:middle" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Anterior</a>
                      {% endif %}
                      <span class="page-current">
                          Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                      </span>
                      {% if page_obj.has_next %}
                          <a class="button" style="vertical-align:middle" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Siguiente</a>
                      {% endif %}
                  </span>
              </div>
          {% endif %}
        {% endblock %}
</body>

</html>