{% extends "base.html" %} {% block content %}
<div class="sliders">
    <h2 class="tituloSliders">Más visitadas</h2>
    <div id="gallery" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    {% if listaPeliculas1 %} {% for pelicula in listaPeliculas1 %}
                    <div class="col col-lg-3 col-md-3">
                        <a class="imgCarrousel" href="{{ pelicula.get_absolute_url }}">
                            <p>{{ pelicula.titulo }}</p>
                            <img class="img-fluid" src='{{ pelicula.get_portada }}'>
                        </a>
                    </div>
                    {% endfor %} {% else %}
                    </p>No hay peliculas</p>
                    {% endif %}
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    {% if listaPeliculas2 %} {% for pelicula in listaPeliculas2 %}
                    <div class="col col-lg-3 col-md-3">
                        <a class="imgCarrousel" href="{{ pelicula.get_absolute_url }}">
                            <p>{{ pelicula.titulo }}</p>
                            <img class="img-fluid" src='{{ pelicula.get_portada }}'>
                        </a>
                    </div>
                    {% endfor %} {% else %}
                    </p>No hay peliculas</p> {% endif %}
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#gallery" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#gallery" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <h2 class="tituloSliders">Más visitadas2</h2>
    <div id="gallery2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    {% if listaPeliculas3 %} {% for pelicula in listaPeliculas3 %}
                    <div class="col col-lg-3 col-md-3">
                        <a class="imgCarrousel" href="{{ pelicula.get_absolute_url }}">
                            <p>{{ pelicula.titulo }}</p>
                            <img class="img-fluid" src='{{ pelicula.get_portada }}'>
                        </a>
                    </div>
                    {% endfor %} {% else %}
                    </p>No hay peliculas</p>
                    {% endif %}
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    {% if listaPeliculas4 %} {% for pelicula in listaPeliculas2 %}
                    <div class="col col-lg-3 col-md-3">
                        <a class="imgCarrousel" href="{{ pelicula.get_absolute_url }}">
                            <p>{{ pelicula.titulo }}</p>
                            <img class="img-fluid" src='{{ pelicula.get_portada }}'>
                        </a>
                    </div>
                    {% endfor %} {% else %}
                    </p>No hay peliculas</p> {% endif %}
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#gallery2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#gallery2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <h2 class="tituloSliders">Más visitadas3</h2>
    <div id="gallery3" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    {% if listaPeliculas1 %} {% for pelicula in listaPeliculas1 %}
                    <div class="col col-lg-3 col-md-3">
                        <a class="imgCarrousel" href="{{ pelicula.get_absolute_url }}">
                            <p>{{ pelicula.titulo }}</p>
                            <img class="img-fluid" src='{{ pelicula.get_portada }}'>
                        </a>
                    </div>
                    {% endfor %} {% else %}
                    </p>No hay peliculas</p>
                    {% endif %}
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    {% if listaPeliculas2 %} {% for pelicula in listaPeliculas2 %}
                    <div class="col col-lg-3 col-md-3">
                        <a class="imgCarrousel" href="{{ pelicula.get_absolute_url }}">
                            <p>{{ pelicula.titulo }}</p>
                            <img class="img-fluid" src='{{ pelicula.get_portada }}'>
                        </a>
                    </div>
                    {% endfor %} {% else %}
                    </p>No hay peliculas</p> {% endif %}
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#gallery3" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#gallery3" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


</div>
{% endblock %}