{% extends "base.html" %}

{% block content %}
<h1>Videoclub DAW</h1>

  <p>Bienvenido a <em>VideoClubDaw</em></p>

<h2>Contenido dinamico</h2>

  <p>Contenido actual del videoclub</p>
  <ul>
    <li><strong>Peliculas:</strong> {{ num_peliculas }}</li>
    <li><strong>Copias:</strong> {{ num_instances }}</li>
    <li><strong>Copias available:</strong> {{ num_instances_available }}</li>
    <li><strong>Directores:</strong> {{ num_directores }}</li>
  </ul>
  <p>Has visitado la página {{ num_visits }}{% if num_visits == 1 %} vez{% else %} veces{% endif %}.</p>

{% endblock %}