body{ 	
	background-image: url("../Images/fondoLogin.jpg");
}

.cajaLogin{
	margin-top: 14em;
}
.cajaLogin .col-md-4{
	background-color: white;
	padding: 1em;
	border-radius: 3px;
	box-shadow: 3px 4px #3b3b3be6;
}
.cajaAltaUsuario {
	margin-top: 7em;
	padding: 1em;
	margin-left: 2em;
}

.containerSearch{
	margin-top: 7em;
	margin-left: 15em;
}
.buscador{
	margin-top: 7em;
	width: 80%;
}

.contenedorLogo img{
	width: 9em;
	position: absolute;
	top: 1em;
	margin-left: 2.5em;
}

.registrarse{
	position: absolute;
	top: 1em;
	left: 86%;
	cursor: pointer;
	color: white !important;
}
.registrarse:hover{
	text-decoration: underline !important;
}

.custom-control{
	margin-bottom: 1em;
}

/*Resoluciones pequenas*/
@media only screen and (max-width: 600px) {
    .cajaLogin{
		margin-top: 6em;
		width: 90%;
	}
}