{% extends "base.html" %} {% block content %}
<h1 class="h1Titulos">Directores</h1>

{% if persona_list %}
<div class="row rowPersonas">
  {% for persona in persona_list %}
  
  <div class="col-md-2 col-sm-6 col-xs-8 container">
    <img class="image-responsive img-fluid imgPersonas image" src="{{ persona.get_foto }}" alt="{{ persona.nombre }}"style="width:100%">
    <div class="middle">
      <div class="text"><a href="{{ persona.get_absolute_url }}">{{ persona.nombre }}</a></div>
    </div>
  </div>

  {% endfor %}
</div>
{% else %}
<p>No hay directores almacenados en el videoclub.</p>
{% endif %} {% endblock %}