{% extends "base.html" %}

{% block content %}
  <h1>Director: {{ persona.first_name }}</h1>

  <p><strong>Nombre:</strong> <a href="">{{ persona.first_name }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Apellido:</strong> {{ persona.last_name }}</p>
  <p><strong>Películas:</strong> {{ peliculas.title }}</p> 
  <!-- <p><strong>Películas:</strong> {% for title in pelicula.titulo.all %} {{ title }}{% if not forloop.last %}, {% endif %}{% endfor %}</p> -->

  <div style="margin-left:20px;margin-top:20px">
    <h4>:/</h4>

  </div>
{% endblock %}