{% extends "base.html" %} {% block content %}
<h1 class="h1Titulo">{{ persona.nombre }}</h1>
<div style="display: flex;">
  <div>
    <p>
      <strong>Fecha de nacimiento:</strong> {{ persona.date_of_birth }}</p>
    {% if persona.date_of_death %}
    <p>      
      <strong>Fecha de fallecimiento:</strong> {{ persona.date_of_death }}</p>
    <p>
    {% endif %}
      <strong>¿Dirige alguna película?:</strong> {{persona.esDirector}}</p>

      <iframe width="720" height="480" src="{{ persona.urlVideo }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  </div>
  <div style="float: right; margin-right: 2em;">
    <img class="image-responsive img-fluid imgPersonas image" src="{{ persona.get_foto }}" style="width:100%">
  </div>
</div>
{% endblock %}