<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="overflow-x: hidden;">

<head id="head">
    <title>
        NetFliXXX
    </title>
    <meta name="description" content="Tu videoClub Online de ninguna confianza :)" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />

    <!-- Archivos CSS-->
    <link rel="stylesheet" type="text/css" href="../bootstrap-4.0.0/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../CSS/general.css" />

    <link rel="stylesheet" type="text/css" href="" />
    <!-- Fin archivos CSS-->
    <!-- Archivos JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../bootstrap-4.0.0/dist/js/bootstrap.js"></script>
    <!-- Fin archivos JS-->

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark barraNavegacion">

        <div class="container">
            <a class="navbar-brand" href="./">
                <b>DawFlix</b>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Películas</a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" href="#">Configuración</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mi perfil</a>
                    </li>
                </ul>                
            </div>

        </div>

    </nav>
    <form class="form-inline my-2 my-lg-0 buscador">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar..." aria-label="Buscar...">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">BUSCAR</button>
    </form>        

</body>

</html>