@font-face {
    font-family: LemonMilk;
    src: url(fonts/LemonMilk.otf);
}
@font-face {
    font-family: LemonMilkbold;
    src: url(fonts/LemonMilkbold.otf);
}
@font-face {
    font-family: LemonMilkbolditalic;
    src: url(fonts/LemonMilkbolditalic.otf);
}
@font-face {
    font-family: LemonMilkitalic;
    src: url(fonts/LemonMilkitalic.otf);
}
@font-face {
    font-family: LemonMilklight;
    src: url(fonts/LemonMilklight.otf);
}
@font-face {
    font-family: LemonMilklightitalic;
    src: url(fonts/LemonMilklightitalic.otf);
}
@font-face {
    font-family: RobotoBlack;
    src: url(fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: RobotoBlackItalic;
    src: url(fonts/Roboto-BlackItalic.ttf);
}
@font-face {
    font-family: RobotoBold;
    src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: RobotoBold;
    src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: RobotoLight;
    src: url(fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: RobotoMedium;
    src: url(fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: RobotoThin;
    src: url(fonts/Roboto-Thin.ttf);
}



body{ 	
	background: url('fondoLogin.jpg');
	/*background: linear-gradient(to bottom right, rgb(24, 23, 23), rgb(165, 165, 165));*/
	color: #fff;
	font-family: RobotoLight;
}
nav{
	font-family: LemonMilklight;
}

.DAWFLIX{
	color:red !important;
}
	.DAWFLIX:hover{
		color:salmon !important;
	}
.cuadroLogin{
	margin: 0 auto;
	margin-top: 25%;
}
.cajaUsuario{
	margin-bottom: 5%;
}
.barraNavegacion{
	margin-bottom: 4em;
}

.divLogin{
	display: flex;
	justify-content: center;
}

.cajaLogin{
	margin-top: 14em;
	color: black;
	background-color: white;
	padding: 1em;
	border-radius: 3px;
	box-shadow: 3px 4px #3b3b3be6;
	padding-top: 2%;
	padding-bottom: 2%;
}
.cajaAltaUsuario {
	margin-top: 7em;
	padding: 1em;
	margin-left: 2em;
}

.containerSearch{
	margin-top: 7em;
	margin-left: 15em;
}

.contenedorLogo img{
	width: 9em;
	position: absolute;
	top: 1em;
	margin-left: 2.5em;
}

.registrarse{
	position: absolute;
	top: 1em;
	left: 86%;
	cursor: pointer;
	color: white !important;
}
.registrarse:hover{
	text-decoration: underline !important;
}

.custom-control{
	margin-bottom: 1em;
}

.carousel-inner {
	width: 80%;
	margin-left: 10%;
}

.carousel-control-prev {
	width: 9%;
}

.carousel-control-next {
	width: 9%;
}

.sliders{
	margin-top: 5em;
	margin-bottom: 6em;
}

.tituloSliders{
	margin: 1em;
	margin-left: 2em;
}

.buscador{
	display: inline-block;
    text-align: center;
	width: 100%;
}
.buscador input {
	width: 46% !important;
	height: 3.5em;
}
.buscador button{	
	height: 3.5em;
}

.img{
	width: 185px !important;
	height: 278px !important;
}

.img-fluid {
    max-width: 240px;
    height: 315px;
}

.paginador{
	justify-content: center;
	margin-top: 5em;
}

li{
	list-style-type: none;
}

.ulPeliculas{
	display: flex;
}

.liPeliculas{
	margin-right: 2em;
	text-align: center;	
}

.row a {
	color: floralwhite;
}

	.row a:hover{
		color: floralwhite;
	}

.imgCarrousel{
	display: grid !important;
}

.imgCarrousel p {
	height: 2em;
	font-family: LemonMilklight;	
}

.bloqueLista{
	display: flex;
	justify-content: center;
}

.imgPersonas{
	border-radius: 8px;
}

.rowPersonas{
	margin-left: 2%;
}

.h1Titulos{
	margin-left:2em;
	margin-top:2em;
}
.h1Titulo{
	text-align: center;
	margin-top:2em;
}

div.polaroid {
	width: 80%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
  }
  
  div.container {
	text-align: center;
	padding: 10px 20px;
  }

  .container {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
	background-color: #AF4C4C;
	color: white;
	font-size: 16px;
  	padding: 16px 32px;
}

.button {
	display: inline-block;
	padding: 5px 15px;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #AF4C4C;
	border: none;
	border-radius: 15px;
  }
  .page-links a{
	color: #fff;
  }
  
  .button:hover {background-color: rgba(175, 76, 76, 0.527);}
  
  .button:active {
	background-color: #AF4C4C;
	transform: translateY(4px);
  }

  .page-current{
	  margin-left: 1em;
	  margin-right: 1em;
  }

  .sesionCerrada{
	text-align: center;
	margin-top: 12em;
  }

  a:hover {
	  color:white;
	  text-decoration: none;
  }



/*Resoluciones pequenas*/
@media only screen and (max-width: 600px) {
    .cajaLogin{
		margin-top: 6em;
		width: 90%;
	}

	.img-fluid {
		max-width: 106px;
		height: 170px;
	}

	.imgCarrousel{
		margin-bottom: 2em;
	}
	.imgCarrousel p {
		height: 3em;
	}

	.paginador {
		margin-top: 2em;
		margin-bottom: 2em;	
	}

	.liPeliculas {
		margin-right: 0em;	
	}

	.bloqueLista{
		display: grid;
	}

	.h1Titulos{
		text-align: center;
		margin-left: 0em;
		margin-top: 2em;
	}

	.container{
		width: 44%;
	}

	.rowPersonas {
		margin-left: -3%;
	}
}
